@import "/styles/variables.scss";
.enterdetails {
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: absolute;
    color: white;
    top: 14vw;
    left: 60vw;
    font-size: 3.7vw;
  }
  .input_box {
    position: relative;
    border-radius: 1em;
    top: -3vw;
    left: 60vw;
    width: 34vw;
    padding: 3em;
    height: 3vw;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 2.5vw;
    padding-left: 1.5vw;
    font-size: 1.4vw;
    font-family: "Poppins", sans-serif;
    color: #ada9a9;
    font-weight: 700;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .Next {
    position: relative;
    left: 65vw;
    border-radius: 0.7em;
    top: 3vw;
    background-color: white;
    height: 3.5vw;
    width: 23vw;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 2vw;
  }
  .loading {
    background-color: #ffcd00;
    border-radius: 1em;
    height: 4vw;
    width: 3vw;
    position: relative;
    left: 64vw;
    top: -1vw;
  }
  @media only screen and (max-width: 767px) {
    h2 {
      top: -10vw;
      width: max-content;
    }
  }
}
@media only screen and (max-width: 767px) {
  .enterdetails {
    position: absolute;
    top: 40vw;
    left: -27vw;
  }
}
