@import "/styles/variables.scss";

.container {
  display: block;

  height: 72vh;
  width: 100vw;

  margin: 0;
  h1 {
    font-size: 4.5vw;
    margin-bottom: -0.3em;
    color: white;
  }
  .human {
    position: absolute;
    top: 45vh;
    left: 20%;
  }
  .shock {
    position: relative;

    top: 0vh;
    left: 14vw;
  }
  .wave {
    position: relative;
    top: 26vh;
    left: 38vw;
  }
  .title {
    position: absolute;
    top: 30vh;
    left: 19vw;

    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position: absolute;
    color: white;
    top: 23vh;
    left: 60vw;
    font-size: 3.7vw;
  }
  .input_box {
    position: relative;
    border-radius: 1em;
    top: -5vh;
    left: 60vw;
    width: 34vw;
    padding: 3em;
    height: 3.6vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 4vh;
    padding-left: 2vh;
    font-size: 2.2vh;
    font-family: "Poppins", sans-serif;
    color: #ada9a9;
    font-weight: 700;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  h3 {
    position: absolute;
    top: 43vw;
    left: 70vw;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
  .Next {
    position: relative;
    left: 64vw;
    border-radius: 1em;
    top: 3vw;
    background-color: white;
    height: 3vw;
    width: 17vw;
  }
  .loading {
    background-color: #ffcd00;
    border-radius: 1em;
    height: 3vw;
    width: 3vw;
    position: relative;
    left: 64vw;
    top: 0vw;
  }
}
